<div class="jumbotron">
  <h1>Expo Coder</h1>
  <p class="lead">Queres Desarrollar Apps, Juegos, Webs y Más?</p>
  <p class="lead">¡Inscribite!</p>
  <p><a class="btn btn-primary btn-xl" role="button">Ver Más</a></p>
</div>
<div class="jumbotron">
  <div class="col-md-4">
    <h2>Más de 2.000 participantes aprendieron programacion en la última edición</h2>
    <div class="">
       <p id="parrafo" class="">
      Por un segundo año consecutivo, la ciudad desarrolla un </p>
      <p id="parrafo" class="">
        innovador evento para que cualquier ciudadano pueda
      </p>
      <p id="parrafo" class="">
        aprender un nuevo lenguaje, el de la programación, que les
      </p>
      <p id="parrafo" class="">
        permitirá armar una página web, aplicaciones y juegos.
      </p>
    </div>
  </div>
  <div class="">
    <img src="./../../../assets/img/2350.jpg" alt="mano" width="800px">
  </div>
</div>
>
