<div class="jumbotron" id="expo-coder">
  <h1>Expo Coder</h1>
  <p class="lead">Queres Desarrollar Apps, Juegos, Webs y Más?</p>
  <p class="lead">¡Inscribite!</p>
  <p><a class="btn btn-primary btn-xl" role="button">Ver Más</a></p>
</div>
<div class="container" id="inicio">
  <div class="row">
  <div class="col-md-6">
    <h2>Más de 2.000 participantes aprendieron programacion en la última edición</h2>
    <div class="">
       <p class="parrafo text-left">
      Por un segundo año consecutivo, la ciudad desarrolla un innovador evento para que cualquier ciudadano pueda aprender un nuevo lenguaje, el de la programación, que les permitirá armar una página web, aplicaciones y juegos.
    </p>
    </div>
  </div>
  <div class="col-md-6">
    <img src="./../../../assets/img/2350.jpg" alt="mano" width="800px">
  </div>
</div>

</div>
