<footer id="ba-footer">
        <div class="container">
          <div class="row footer-row">

              <div class="col-md-6 col-sm-12 col-xs-12" >
              <div class="col-xs-6">
              <div class="container-ba">
                <a href="http://www.buenosaires.gob.ar/"><img src="../BAstrap7/ba_vamosba_blanco.png" class="img-responsive logo_footer"></a>
             </div>
              </div>
              <div class="col-xs-6">
              <div class="container-ba-border">
                <a href="http://disfrutemosba.buenosaires.gob.ar/"><h2>Disfrutemos BA</h2></a>
             </div>
              </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <section class="container-redes">
                <ul class="mini-social">
                  <li><a class="social-fb" href="http://www.facebook.com/gcba" target="_blank">Facebook</a></li>
                  <li><a class="social-tw" href="http://www.twitter.com/gcba" target="_blank">Twitter</a></li>
                  <li><a class="social-yt" href="http://www.youtube.com/user/GCBA" target="_blank">Youtube</a></li>
                  <li><a class="social-in" href="https://www.instagram.com/buenosaires/" target="_blank">Instagram</a></li>
                  <li><a class="social-gp" href="https://plus.google.com/+GobiernodelaCiudaddeBuenosAires/" target="_blank">Google+</a></li>
                </ul>
              </section>
              </div>
              </div>


                <div class="row footer-nav">
                 <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-3 col-sm-6 primera_columna">
                      <ul><li class=""><a href="http://mapa.buenosaires.gob.ar" title="">Mapa Buenos Aires</a></li>
                  <li class=""><a href="http://reclamos.buenosaires.gob.ar/suaci/index" title="Sistema unico de atencion ciudadana">Solicitudes / Denuncias </a></li>
                  <li class=""><a href="http://www.agip.gov.ar/web/ventanillas/aplicativos/pat-01.htm" title="">Patentes: Consulta e impresión de boletas</a></li>
                  <li class=""><a href="http://www.agip.gov.ar/web/ventanillas/aplicativos/abl-2012.html" title="">ABL: Consulta e impresión de boletas</a></li>
                  </ul>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <ul><li class=""><a href="/jefedegobierno" title="">Jefe de Gobierno</a></li>
                  <li class=""><a href="/vicejefatura" title="">Vicejefatura de Gobierno</a></li>
                  <li class=""><a href="http://www.buenosaires.gob.ar/jefaturadegabinete" title="">Jefatura de Gabinete</a></li>
                  <li class=""><a href="/ambienteyespaciopublico" title="">Ambiente y Espacio Público</a></li>
                  <li class=""><a href="/cultura" title="">Cultura</a></li>
                  </ul>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <ul><li class=""><a href="http://boletinoficial.buenosaires.gob.ar/areas/leg_tecnica/boletinOficial/" title="">Boletín Oficial</a></li>
                  <li class=""><a href="/legalytecnica/normativa/formulario-de-busqueda" title="">Normativa</a></li>
                  <li class=""><a href="http://www.buenosaires.gov.ar/organigrama/?menu_id=505" title="">Organigrama</a></li>
                  <li class=""><a href="http://www.buenosaires.gov.ar/organigrama/funcionarios/?menu_id=713" title="">Guía de Funcionarios</a></li>

                  </ul>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <ul><li class=""><a href="http://boletinoficial.buenosaires.gob.ar/areas/leg_tecnica/boletinOficial/" title="">Boletín Oficial</a></li>
                  <li class=""><a href="/legalytecnica/normativa/formulario-de-busqueda" title="">Normativa</a></li>
                  <li class=""><a href="http://www.buenosaires.gov.ar/organigrama/?menu_id=505" title="">Organigrama</a></li>
                  <li class=""><a href="http://www.buenosaires.gov.ar/organigrama/funcionarios/?menu_id=713" title="">Guía de Funcionarios</a></li>

                  </ul>
                </div>
            </div>
              </div>

            <div class="col-md-12 col-sm-12  col-xs-12" style="margin-top: -55px;">
               <div class="container-telefonos">
            <nav id="telefonos" class="row shortcut-row">
              <a class="col-md-3 col-sm-6 shortcut" href="tel:103">
                <h3><span class="glyphicon glyphicon-earphone"></span>103</h3>
                <p>Emergencias</p>
              </a>
              <a class="col-md-3 col-sm-6 shortcut" href="tel:107">
                <h3><span class="glyphicon glyphicon-earphone"></span>107</h3>
                <p>SAME</p>
              </a>
              <a class="col-md-3 col-sm-6 shortcut" href="tel:108">
                <h3><span class="glyphicon glyphicon-earphone"></span>108</h3>
                <p>Línea social</p>
              </a>
              <a class="col-md-3 col-sm-6 shortcut" href="tel:147">
                <h3><span class="glyphicon glyphicon-earphone"></span>147</h3>
                <p>Atención Ciudadana</p>
              </a>
            </nav>
             </div>
              </div>


              <div class="col-md-12 col-sm-12" style="margin-top: -55px;">
               <div class="container-ciudad">
                <a href="http://www.buenosaires.gob.ar/"><img src="../BAstrap7/logos_buenosaires_ciudad.png" class="img-responsive logo_footer_ciudad"></a>
             </div>
              </div>

        </div>
      </footer>
