<div class="container d-print-none">
  <h2>Inscriptos</h2>

  <table class="table table-striped">
    <thead>
      <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Profesión</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tomás</td>
        <td>Rodriguez</td>
        <td>21</td>
        <td>Estudiante</td>
      </tr>
      <tr>
      <td>Maria</td>
      <td>Figallo</td>
      <td>33</td>
      <td>Ingeniera Civil</td>
      </tr>
      <tr>
      <td>Agustina</td>
      <td>Leanz</td>
      <td>42</td>
      <td>Electricista</td>
      </tr>
    </tbody>
  </table>

</div>
